In [2]:
# Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("oasis_longitudinal.csv")
data.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [4]:
data.isnull().sum()

Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64

In [5]:
df = data[data["Visit"] == 1]
df

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
5,OAS2_0004,OAS2_0004_MR1,Nondemented,1,0,F,R,88,18,3.0,28.0,0.0,1215,0.710,1.444
7,OAS2_0005,OAS2_0005_MR1,Nondemented,1,0,M,R,80,12,4.0,28.0,0.0,1689,0.712,1.039
10,OAS2_0007,OAS2_0007_MR1,Demented,1,0,M,R,71,16,NaN,28.0,0.5,1357,0.748,1.293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,OAS2_0182,OAS2_0182_MR1,Demented,1,0,M,R,73,12,NaN,23.0,0.5,1661,0.698,1.056
361,OAS2_0183,OAS2_0183_MR1,Nondemented,1,0,F,R,66,13,2.0,30.0,0.0,1495,0.746,1.174
365,OAS2_0184,OAS2_0184_MR1,Demented,1,0,F,R,72,16,3.0,24.0,0.5,1354,0.733,1.296
367,OAS2_0185,OAS2_0185_MR1,Demented,1,0,M,R,80,16,1.0,28.0,0.5,1704,0.711,1.030
370,OAS2_0186,OAS2_0186_MR1,Nondemented,1,0,F,R,61,13,2.0,30.0,0.0,1319,0.801,1.331

In [6]:
df.isnull().sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           8
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [7]:
df['SES']= df['SES'].fillna(data['SES'].mean())

<ipython-input-7-de35f1517ac6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SES']= df['SES'].fillna(data['SES'].mean())

In [8]:
df.isnull().sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [9]:
df=df.drop(['Subject ID', 'MRI ID', 'MR Delay', 'Visit', 'Hand'], axis=1) 
df

           Group M/F  Age  EDUC       SES  MMSE  CDR  eTIV   nWBV    ASF
0    Nondemented   M   87    14  2.000000  27.0  0.0  1987  0.696  0.883
2       Demented   M   75    12  2.460452  23.0  0.5  1678  0.736  1.046
5    Nondemented   F   88    18  3.000000  28.0  0.0  1215  0.710  1.444
7    Nondemented   M   80    12  4.000000  28.0  0.0  1689  0.712  1.039
10      Demented   M   71    16  2.460452  28.0  0.5  1357  0.748  1.293
..           ...  ..  ...   ...       ...   ...  ...   ...    ...    ...
359     Demented   M   73    12  2.460452  23.0  0.5  1661  0.698  1.056
361  Nondemented   F   66    13  2.000000  30.0  0.0  1495  0.746  1.174
365     Demented   F   72    16  3.000000  24.0  0.5  1354  0.733  1.296
367     Demented   M   80    16  1.000000  28.0  0.5  1704  0.711  1.030
370  Nondemented   F   61    13  2.000000  30.0  0.0  1319  0.801  1.331

[150 rows x 10 columns]

In [10]:
clean = df.copy()
data_binary_encoded = pd.get_dummies(clean, columns=["M/F"])
data_binary_encoded.head()

,Group,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,M/F_F,M/F_M
0,Nondemented,87,14,2.000000,27.0,0.0,1987,0.696,0.883,0,1
2,Demented,75,12,2.460452,23.0,0.5,1678,0.736,1.046,0,1
5,Nondemented,88,18,3.000000,28.0,0.0,1215,0.710,1.444,1,0
7,Nondemented,80,12,4.000000,28.0,0.0,1689,0.712,1.039,0,1
10,Demented,71,16,2.460452,28.0,0.5,1357,0.748,1.293,0,1

In [11]:
data_binary_encoded=data_binary_encoded.rename(columns={'M/F_M':'Male','M/F_F':'Female'})
data_binary_encoded

,Group,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Female,Male
0,Nondemented,87,14,2.000000,27.0,0.0,1987,0.696,0.883,0,1
2,Demented,75,12,2.460452,23.0,0.5,1678,0.736,1.046,0,1
5,Nondemented,88,18,3.000000,28.0,0.0,1215,0.710,1.444,1,0
7,Nondemented,80,12,4.000000,28.0,0.0,1689,0.712,1.039,0,1
10,Demented,71,16,2.460452,28.0,0.5,1357,0.748,1.293,0,1
...,...,...,...,...,...,...,...,...,...,...,...
359,Demented,73,12,2.460452,23.0,0.5,1661,0.698,1.056,0,1
361,Nondemented,66,13,2.000000,30.0,0.0,1495,0.746,1.174,1,0
365,Demented,72,16,3.000000,24.0,0.5,1354,0.733,1.296,1,0
367,Demented,80,16,1.000000,28.0,0.5,1704,0.711,1.030,0,1
370,Nondemented,61,13,2.000000,30.0,0.0,1319,0.801,1.331,1,0

In [73]:
# Assign X (data) and y (target = DEMENTED/NOT)

X = data_binary_encoded.drop("Group", axis=1)
y = data_binary_encoded["Group"]
print(X.shape, y.shape)

(150, 10) (150,)

In [74]:
# Split our data into training and testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [75]:
# LOGISTIC REGRESSION 

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=10000)
classifier

LogisticRegression(max_iter=10000)

In [76]:
# Fit (train) or model using the training data

classifier.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [77]:
# Validate the model using the test data

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9107142857142857
Testing Data Score: 0.868421052631579

In [78]:
# Make predictions

predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Nondemented' 'Nondemented' 'Nondemented' 'Nondemented' 'Nondemented'
 'Nondemented' 'Demented' 'Nondemented' 'Demented' 'Demented']
First 10 Actual labels: ['Converted', 'Nondemented', 'Converted', 'Nondemented', 'Nondemented', 'Nondemented', 'Nondemented', 'Converted', 'Demented', 'Demented']

In [79]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction       Actual
0   Nondemented    Converted
1   Nondemented  Nondemented
2   Nondemented    Converted
3   Nondemented  Nondemented
4   Nondemented  Nondemented
5   Nondemented  Nondemented
6      Demented  Nondemented
7   Nondemented    Converted
8      Demented     Demented
9      Demented     Demented
10     Demented     Demented
11  Nondemented  Nondemented
12     Demented     Demented
13  Nondemented  Nondemented
14  Nondemented  Nondemented
15  Nondemented  Nondemented
16     Demented     Demented
17     Demented     Demented
18  Nondemented    Converted
19  Nondemented  Nondemented
20  Nondemented  Nondemented
21     Demented     Demented
22  Nondemented  Nondemented
23     Demented     Demented
24  Nondemented  Nondemented
25     Demented     Demented
26     Demented     Demented
27  Nondemented  Nondemented
28  Nondemented  Nondemented
29  Nondemented  Nondemented
30     Demented     Demented
31  Nondemented  Nondemented
32  Nondemented  Nondemented
33  Nondemented  Nondemented
34     Demented     Demented
35     Demented     Demented
36     Demented     Demented
37     Demented     Demented

In [25]:
# SVM

target = data_binary_encoded["Group"]
target_names = ["Demented", "Nondemented", "Converted"]

In [29]:
data = data_binary_encoded.drop("Group", axis=1).reset_index(drop=True)
feature_names = data.columns
data.head()

   Age  EDUC       SES  MMSE  CDR  eTIV   nWBV    ASF  Female  Male
0   87    14  2.000000  27.0  0.0  1987  0.696  0.883       0     1
1   75    12  2.460452  23.0  0.5  1678  0.736  1.046       0     1
2   88    18  3.000000  28.0  0.0  1215  0.710  1.444       1     0
3   80    12  4.000000  28.0  0.0  1689  0.712  1.039       0     1
4   71    16  2.460452  28.0  0.5  1357  0.748  1.293       0     1

In [80]:
X_train, X_test, y_train, y_test = train_test_split(data, target)

In [62]:
# Support vector machine linear classifier

from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [63]:
# Model Accuracy

print('Test Accuracy: %.3f' % model.score(X_test, y_test))

Test Accuracy: 0.816

In [64]:
# Calculate classification report

from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    Demented       0.00      0.00      0.00         7
 Nondemented       0.94      1.00      0.97        16
   Converted       0.71      1.00      0.83        15

    accuracy                           0.82        38
   macro avg       0.55      0.67      0.60        38
weighted avg       0.68      0.82      0.74        38

C:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [43]:
from sklearn import tree

In [81]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8947368421052632

In [93]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
print(rf.score(X_test, y_test))
print(rf.score(X_train, y_train))

0.9210526315789473
1.0

In [46]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.4632072957977861, 'CDR'),
 (0.14908239368337936, 'MMSE'),
 (0.07056190448494391, 'Age'),
 (0.06507271878349404, 'nWBV'),
 (0.06395541386258945, 'eTIV'),
 (0.06243416800935955, 'ASF'),
 (0.04917826468527723, 'EDUC'),
 (0.041712209378634575, 'SES'),
 (0.021906725753290814, 'Male'),
 (0.012888905561244961, 'Female')]

In [103]:
from sklearn.datasets import make_classification
from imblearn.over_sampling import RandomOverSampler

In [104]:
# define oversampling strategy
oversample = RandomOverSampler(sampling_strategy='minority')

In [105]:
# define oversampling strategy
oversample = RandomOverSampler(sampling_strategy=0.5)

In [107]:
oversample

RandomOverSampler(sampling_strategy=0.5)

In [106]:
# fit and apply the transform
X_over, y_over = oversample.fit_resample(X, y)

ValueError: "sampling_strategy" can be a float only when the type of target is binary. For multi-class, use a dict.

In [ ]:
# define dataset
X, y = make_classification(n_samples=10000, weights=[0.99], flip_y=0)