In [49]:
# Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
data = pd.read_csv("oasis_longitudinal.csv")
data.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [51]:
data.isnull().sum()

Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64

In [52]:
df = data[data["Visit"] == 1]
df

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
5,OAS2_0004,OAS2_0004_MR1,Nondemented,1,0,F,R,88,18,3.0,28.0,0.0,1215,0.710,1.444
7,OAS2_0005,OAS2_0005_MR1,Nondemented,1,0,M,R,80,12,4.0,28.0,0.0,1689,0.712,1.039
10,OAS2_0007,OAS2_0007_MR1,Demented,1,0,M,R,71,16,NaN,28.0,0.5,1357,0.748,1.293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,OAS2_0182,OAS2_0182_MR1,Demented,1,0,M,R,73,12,NaN,23.0,0.5,1661,0.698,1.056
361,OAS2_0183,OAS2_0183_MR1,Nondemented,1,0,F,R,66,13,2.0,30.0,0.0,1495,0.746,1.174
365,OAS2_0184,OAS2_0184_MR1,Demented,1,0,F,R,72,16,3.0,24.0,0.5,1354,0.733,1.296
367,OAS2_0185,OAS2_0185_MR1,Demented,1,0,M,R,80,16,1.0,28.0,0.5,1704,0.711,1.030
370,OAS2_0186,OAS2_0186_MR1,Nondemented,1,0,F,R,61,13,2.0,30.0,0.0,1319,0.801,1.331

In [53]:
df.isnull().sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           8
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [54]:
df['SES']= df['SES'].fillna(data['SES'].mean())

<ipython-input-54-de35f1517ac6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SES']= df['SES'].fillna(data['SES'].mean())

In [55]:
df.isnull().sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [56]:
df=df.drop(['Subject ID', 'MRI ID', 'MR Delay', 'Visit', 'Hand', 'Group'], axis=1) 
df

    M/F  Age  EDUC       SES  MMSE  CDR  eTIV   nWBV    ASF
0     M   87    14  2.000000  27.0  0.0  1987  0.696  0.883
2     M   75    12  2.460452  23.0  0.5  1678  0.736  1.046
5     F   88    18  3.000000  28.0  0.0  1215  0.710  1.444
7     M   80    12  4.000000  28.0  0.0  1689  0.712  1.039
10    M   71    16  2.460452  28.0  0.5  1357  0.748  1.293
..   ..  ...   ...       ...   ...  ...   ...    ...    ...
359   M   73    12  2.460452  23.0  0.5  1661  0.698  1.056
361   F   66    13  2.000000  30.0  0.0  1495  0.746  1.174
365   F   72    16  3.000000  24.0  0.5  1354  0.733  1.296
367   M   80    16  1.000000  28.0  0.5  1704  0.711  1.030
370   F   61    13  2.000000  30.0  0.0  1319  0.801  1.331

[150 rows x 9 columns]

In [57]:
clean = df.copy()
data_binary_encoded = pd.get_dummies(clean, columns=["M/F"])
data_binary_encoded.head()

    Age  EDUC       SES  MMSE  CDR  eTIV   nWBV    ASF  M/F_F  M/F_M
0    87    14  2.000000  27.0  0.0  1987  0.696  0.883      0      1
2    75    12  2.460452  23.0  0.5  1678  0.736  1.046      0      1
5    88    18  3.000000  28.0  0.0  1215  0.710  1.444      1      0
7    80    12  4.000000  28.0  0.0  1689  0.712  1.039      0      1
10   71    16  2.460452  28.0  0.5  1357  0.748  1.293      0      1

In [58]:
data_binary_encoded=data_binary_encoded.rename(columns={'M/F_M':'Male','M/F_F':'Female'})
data_binary_encoded

     Age  EDUC       SES  MMSE  CDR  eTIV   nWBV    ASF  Female  Male
0     87    14  2.000000  27.0  0.0  1987  0.696  0.883       0     1
2     75    12  2.460452  23.0  0.5  1678  0.736  1.046       0     1
5     88    18  3.000000  28.0  0.0  1215  0.710  1.444       1     0
7     80    12  4.000000  28.0  0.0  1689  0.712  1.039       0     1
10    71    16  2.460452  28.0  0.5  1357  0.748  1.293       0     1
..   ...   ...       ...   ...  ...   ...    ...    ...     ...   ...
359   73    12  2.460452  23.0  0.5  1661  0.698  1.056       0     1
361   66    13  2.000000  30.0  0.0  1495  0.746  1.174       1     0
365   72    16  3.000000  24.0  0.5  1354  0.733  1.296       1     0
367   80    16  1.000000  28.0  0.5  1704  0.711  1.030       0     1
370   61    13  2.000000  30.0  0.0  1319  0.801  1.331       1     0

[150 rows x 10 columns]